<div class="container text-center">
   <div class="col">
      <div class="row">
         <h1 class="text text-warning mb-3">SECRECT FUNCTION</h1>
      </div>
      <div class="row">
         <table class="table table-bordered">
            <tr>
               <th>Name</th>
               <td>{{ Toys.toys_name }}</td>
            </tr>
            <tr>
               <th>Year</th>
               <td>{{ Toys.toys_year }}</td>
            </tr>
            <tr>
               <th>City</th>
               <td>{{ Toys.toys_country }}</td>
            </tr>
            <tr>
               <th colspan="2">
                  <button class="btn btn-success">OK</button>
               </th>
            </tr>
         </table>
      </div>
   </div>
</div>